.header {
	text-align: center;
}
#inputtext {
	padding: 10px;
	box-shadow: 1px 2px 3px 0 grey;
	position: absolute;

}
li {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.box {
	height: 40px;
	width: 440px;
}